

<div class="span12" style="position:relative;">
    <button class="btn-schedule btn btn-primary pull-left" ng-show="canSchedule" ng-click="scheduleNew()" type="button"><i class="icon-calendar icon-white"></i> <span ng-i18next="calendarForm.scheduleButton"></span></button>
    <!--<span class="calendar-legend">Legenda</span>-->
    <wijevcal class="nav-scheduler" 
        appointments="{{events}}" 
        selectedDate="{{currentDate}}" 
        viewType="{{currentViewType}}"
        culture="{{culture}}" 
        localization="{{localizedTexts}}"
        dayViewHeaderFormat="{{dayViewHeaderTexts}}"
        beforeEditEventDialogShow="editEvent"
        selectedDatesChanged="selectedDateChanged"></wijevcal>
</div>

<!--<div class="span12">
        <div class="span9">
            <button class="btn-schedule btn btn-primary pull-left" type="button"><i class="icon-calendar icon-white"></i> Agendar</button>
            <wijevcal class="nav-scheduler" appointments="{{events}}" selectedDate="{{currentDate}}" viewType="{{currentViewType}}" culture="{{culture}}" localization="{{localizedTexts}}"></wijevcal>
        </div>
        <div class="nav-filter span3">
            <form>
                <fieldset>
                    <legend>Filtro</legend>
                    <label>Nome</label>
                    <input type="text" class="input-block-level" />
                    <label>Grupo</label>
                    <select class="input-block-level">
                    </select>
                    <button class="btn btn-info" type="button">Limpar</button>
                </fieldset>
            </form>
        </div>
    </div>-->
