
<div class="white-wrapper span8">
    <form name="userForm" novalidate>
        <fieldset>
            <legend ng-i18next="forgotPassword.title"></legend>
    
            <div class="row-fluid">
                <div class="alert" ng-show="validationMessage != null && validationMessage != ''" ng-animate="{show: 'fade'}">
                    <button type="button" class="close" ng-click="closeAlert()">&times;</button>
                    <span ng-bind-html-unsafe="validationMessage"></span>
                </div>
            </div>
    
            <label ng-i18next="forgotPassword.explanation"></label>
            <p></p>    
            <div class="row-fluid">
                <span ng-show="formSubmitted && userForm.email.$error.required" class="text-error" ng-i18next="global.required"></span>
                <span ng-show="formSubmitted && userForm.email.$error.email" class="text-error" ng-i18next="global.emailInvalid"></span>
                <input name="email" type="email" ng-model="userEmail" class="input-block-level" required />
            </div>    
            <div class="control-group" style="padding-top:10px;">
                <div class="controls">
                    <button type="submit" ng-click="sendPassword(userForm)" ng-disabled="isSending" class="btn btn-primary pull-left">Enviar</button>
                </div>
            </div>
        </fieldset>    
    </form>
</div>
