<div class="messageBox">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: close" aria-hidden="true">
            &times;</button>
        <h3>
            Evento</h3>
    </div>
    <div class="modal-body">
        <form class="span6" style="margin:0;">
            <fieldset>
                
                    <div class="span3" style="width:230px;">
                        <div class="row">
                            <div class="input-datetime pull-left">
                                <label>Início</label>
                                <input type="text" class="input-block-level" />
                            </div>
                            <div class="input-datetime pull-right">
                                <label>Fim</label>
                                <input type="text" class="input-block-level" />
                            </div>
                        </div>
                        <div class="row">
                            <label>Nome</label>
                            <input type="text" class="input-block-level" />
                            <label>Descrição</label>
                            <textarea rows="3" class="input-block-level"></textarea>
                            <label>Tipo</label>
                            <select class="input-block-level"></select>
                        </div>                        
                    </div>
                    <div class="span3">
                        <label>Locais</label>
                        <ul class="nav nav-pills nav-stacked">
                          <li class="active"><a href="#">Sala da Legião de Maria</a></li>
                          <li><a href="#">Sala da Banda Línguas de Fogo</a></li>
                          <li><a href="#">Sala da Pia União das Filhas de Maria</a></li>
                        </ul>
                    </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Cancelar</a> <a href="#" class="btn btn-primary">Salvar</a>
    </div>
</div>