@{
    ViewBag.Title = "Home";
}

@section script {
<script type="text/javascript">
    $(document).ready(function () {
        $("#play_video").colorbox({ iframe: true, innerWidth: 600, innerHeight: 409 });
    });
</script>
}

    <div class="main-content">
        <div class="row">
        <div class="span5">
            <h2>Simples, inteligente, dinâmico... e gratuito!</h2>
            <p class="main-meta">&nbsp;</p>
            <p style="text-align:justify;text-justify:inter-word;">O <b>Calendário Paroquial</b> surgiu devido a uma necessidade pastoral da Paróquia Divino Salvador, no Rio de Janeiro. Através dele nós conseguimos minimizar os conflitos de agendamento de datas e reservas de locais, além de divulgar nossos eventos através do nosso site, possibilitando o aumento do senso de unidade em nossa comunidade.</p>
        </div>
        <div class="span7">            
            <a href="http://player.vimeo.com/video/70562058" id="play_video" class="cboxElement"><img src="/content/img/video_play.png"></a>
        </div>
        </div>
    </div>

    
            
    <!-- Features list. Note down the class name before editing. -->
                <div class="row">
                <div class="span3">
                    <div class="afeature">
                        <div class="afmatter">
                            <i class="icon-calendar"></i>
                            <h4>Planeje</h4>
                            <p>Ficou fácil planejar o calendário através da visualização unificada dos eventos das pastorais. </p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="afeature">
                        <div class="afmatter">
                            <i class="icon-sitemap"></i>
                            <h4>Administre</h4>
                            <p>São poucos finais de semana no ano para muitas iniciativas apostólicas. Priorize os eventos. </p>
                        </div>
                    </div>                        
                </div>
                <div class="span3">
                    <div class="afeature">
                        <div class="afmatter">
                            <i class="icon-facebook-sign"></i>
                            <h4>Divulgue</h4>
                            <p>Faça com que seus eventos cheguem onde as pessoas estão. Temos interesse em todas as ovelhas. </p>
                        </div>
                    </div>                        
                </div>
                <div class="span3">
                    <div class="afeature">
                        <div class="afmatter">
                            <i class="icon-user"></i>
                            <h4>Evangelize</h4>
                            <p>Mantenha contato com as pessoas que se inscreveram nos eventos. A longanimidade é uma virtude. </p>
                        </div>
                    </div>                        
                </div>                        
                </div>
            
    <!-- Features ends -->

    <!-- CTA starts -->
            
    <div class="cta">
        <div class="row">
            <div class="span9">
                <p class="csmall">Nós cuidamos de toda a infraestrutura para que você possa simplesmente começar a usar. Não perca mais tempo tentando encaixar eventos no calendário de forma artesanal. Evangelize de uma forma eficaz.</p>
            </div>
            <div class="span3" style="width:auto;">
                <div class="button"><a href="/versoes">Confira suas opções</a></div>
            </div>
        </div>
    </div>
            
    <!-- CTA Ends -->

   <!-- <div class="bor"></div>-->

    <!-- Testimonials -->

    @*<div class="testimonial">
        <div class="container">
                <div class="row">
                <div class="span4">
                    
                    <div class="test">
                        Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                    </div>
                    <div class="test-arrow"></div>
                    <div class="tauth"><i class="icon-user"></i> Ravi, <span class="color">Google</span></div>
                </div>
                        
                <div class="span4">
                    <div class="test">
                        Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                    </div>
                    <div class="test-arrow"></div>
                    <div class="tauth"><i class="icon-user"></i> Ashok, <span class="color">Yahoo</span></div>
                </div>

                <div class="span4">
                    <div class="test">
                        Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                    </div>
                    <div class="test-arrow"></div>
                    <div class="tauth"><i class="icon-user"></i> Santy, <span class="color">Facebook</span></div>
                </div>                        
                </div>
            </div>
        </div>  *@         
            
            
    <!-- Clients starts -->
               
    <!--<div class="row">
        <div class="span12">
            <div class="clients">
                <img src="content/img/clients/amazon_b.png" alt="" />
                <img src="content/img/clients/google_b.png" alt="" />
                <img src="content/img/clients/twitter_b.png" alt="" />
                <img src="content/img/clients/facebook_b.png" alt="" />
                <img src="content/img/clients/skype_b.png" alt="" />
                <img src="content/img/clients/youtube_b.png" alt="" />
            </div>
        </div>
    </div>-->
            
    <!-- Clients ends -->