@{
    ViewBag.Title = "Precos";
}

<!-- Pricing table starts -->
            
<style type="text/css">
    .moreInfo
    {
        cursor: pointer;
    }
    .popover-title
    {
        display:none;
    }
    .popover-content
    {
        text-align: justify; 
    }
</style>

<div class="pricing">
    <div class="row">
        <div class="span12">
                  
            <!-- Pricing table hero -->
            <div class="hero">
            <!-- Title. Don't forget the <span> tag -->
            <!-- para -->
            <p>Escolha a versão que melhor atenda as necessidades pastorais de sua Paróquia.</p>
            <p>Nós cultivamos o sonho de fornecer o <b>Calendário Paroquial</b> de forma gratuita para todas as paróquias que necessitarem. Porém, algumas funcionalidades requerem uma infraestrutura específica. Para que possamos manter esta infra e ainda atender a muitas Paróquias gratuitamente, criamos os pacotes abaixo.</p>
            </div>
            <!-- Pricing table -->
                     
            <!-- Price details. Note down the class name before you edit. -->
            <div class="row">
                     
            <div class="span6">
                        
                <!-- Add the class "phighlight" to highlight specific table -->
                           
                <div class="price-a pricel center">
                        <div class="phead-top">
                        <!-- Title -->
                        <h4>Gratuito</h4>
                        </div>
                        <div class="phead-bottom">
                        <p><span class="pst">R$</span> 0,00 <span class="psb">/mês</span></p>
                        </div>
                        <div class="arrow-down"></div>
                    <div class="plist">
                        <!-- List -->
                        <ul>
                        <li class="moreInfo" data-content="<p>Com 300 eventos é possível agendar aproximadamente 6 eventos por semana, ideal para Paróquias de pequeno porte, que realizam apenas Missas feriais ou possuem poucas pastorais.</p><p>Qualquer Paróquia, por menor que seja, pode aproveitar as fantásticas funcionalidades que preparamos!</p>"><b>Cadastre até 300 eventos</b> <i class="icon-question-sign"></i></li>
                        <li>Reserva de locais</li>
                        <li>Identificação de conflitos</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        </ul>
                    </div>
                    <div class="pbutton">  
                        <!-- button -->
                        <div class="button"><a href="/contato"><i class="icon-shopping-cart"></i> Queremos esta</a></div>
                    </div>
                </div>
                                           
                <div class="price-b pricel center">
                        <div class="phead-top">
                        <h4>Básico</h4>
                        </div>
                        <div class="phead-bottom">
                        <p><span class="pst">R$</span> 40,00 <span class="psb">/mês</span></p>
                        </div>
                        <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                        <li>Sem limite de eventos</li>
                        <li>Reserva de locais</li>
                        <li>Identificação de conflitos</li>
                        <li class="moreInfo" data-content="<p>Crie usuários para os coordenadores das pastorais/grupos ao invés de centralizar a elaboração do calendário em apenas uma pessoa.</p><p>Não se preocupe, nós gerenciamos as reservas de locais/horários para que nenhum conflito aconteça.</p>"><b>Usuários adicionais</b> <i class="icon-question-sign"></i></li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <div class="button"><a href="/contato"><i class="icon-shopping-cart"></i> Queremos esta</a></div>
                    </div>
                </div>   
                                 
                <div class="clearfix"></div>
            </div>  
                        
            <div class="span6">
                        
                <div class="price-a pricel center phighlight">
                        <div class="phead-top">
                        <h4>Padrão</h4>
                        </div>
                        <div class="phead-bottom">
                        <p><span class="pst">R$</span> 75,00 <span class="psb">/mês</span></p>
                        </div>
                        <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                        <li>Sem limite de eventos</li>
                        <li>Reserva de locais</li>
                        <li>Identificação de conflitos</li>
                        <li>Usuários adicionais</li>
                        <li class="moreInfo" data-content="<p>- Configure períodos permitidos para agendamento, alteração ou cancelamento de eventos para reforçar o compromisso dos coordenadores na realização dos eventos.</p><p>- Configure o intervalo mínimo entre eventos para a utilização/liberação das salas.</p>"><b>Painel de configuração</b> <i class="icon-question-sign"></i></li>
                        <li>-</li>
                        <li>-</li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <div class="button"><a href="/contato"><i class="icon-shopping-cart"></i> Queremos esta</a></div>
                    </div>
                </div>
                           
                <!-- Pricing table #4. Class name "price-b" -->
                <div class="price-b pricel center">
                        <div class="phead-top">
                        <h4>Social</h4>
                        </div>
                        <div class="phead-bottom">
                        <p><span class="pst">R$</span> 95,00 <span class="psb">/mês</span></p>
                        </div>
                        <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                        <li>Sem limite de eventos</li>
                        <li>Reserva de locais</li>
                        <li>Identificação de conflitos</li>
                        <li>Usuários adicionais</li>
                        <li>Painel de configuração</li>
                        <li class="moreInfo" data-content="<p>Divulgue seus eventos nas redes sociais de uma forma atrativa através de uma URL personalizável. Por exemplo: 'http://espero.vc/paroquia_retiro'</p><p>Você pode divulgar o link curto também nas faixas que pendura na Paróquia, de forma que as pessoas memorizem com mais facilidade e acessem para obter mais informações.</p>"><b>Link curto</b> <i class="icon-question-sign"></i></li>
                        <li class="moreInfo" data-content="<p>Seus paroquianos podem se conectar ao Calendário com a sua própria conta do Facebook para confirmar presença nos eventos, convidar amigos e receber informações antes e depois dos eventos. O organizador do evento poderá saber quantas pessoas pretendem ir ao evento e manter contato com elas após a realização do mesmo.</p>"><b>Integração com Facebook</b> <i class="icon-question-sign"></i></li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <div class="button"><a href="/contato"><i class="icon-shopping-cart"></i> Queremos esta</a></div>
                    </div>
                </div>   
                                 
                <div class="clearfix"></div>                        
                                                   
            </div>
            </div>
                     
        </div>
    </div>
</div>
<p></p>
@section script {
<script type="text/javascript">
    $().ready(function () {
        $('.moreInfo').popover({
            placement: 'top',
            trigger: 'hover',
            html: true
        });
    });
</script>
}

